@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Cabin&display=swap");

:root {
  --primary-color: #40418d;
  --secondary-color: #ddd8dc;
  --accent1-color: #d64550;
  --accent2-color: #3f826d;
  --accent3-color: #6067a3;
  font-weight: lighter;
}

main {
  /* background-image: url("../images/basket2.png"); */
  background-size: contain;
  background-position: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  /* padding: 1em; */
  background-color: var(--secondary-color);
  border: 15px solid var(--accent3-color);
  border-radius: 25px;
}

.mainSelections {
  /* color: #3f826d; */
  border: 15px solid var(--secondary-color);
  border-radius: 25px;
  /* display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 100px); */
}

.mainSelections section {
  display: flex;
  background-color: var(--secondary-color);
  padding: 5px;
  flex-direction: column;
  align-items: center;
}

#activeFoggie {
  display: none;
}

html {
  /* background-image: url("../images/vineyard.png"); */
  background-size: cover;
  background-color: #0b0c4b;
}
h2,
h1,
h3,
h4,
h5 {
  font-family: Alegreya, serif;
}

p {
  font-family: "Cabin", Cabin, sans-serif;
}

.button-container {
  padding: 0%;
  display: flex;

  justify-content: center;
}

button {
  margin: 3px;
  color: #d64550;
  font-family: "Cabin", Cabin, sans-serif;
}

footer {
  background-color: var(--secondary-color);
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
}
